<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <span v-text='title.name'></span>
        <div v-if='isRender'>
            <span>1</span>
            <span>2</span>
            <span>3</span>
        </div>
        <ul>
            <li>{{info.name}}</li>
            <li>{{info.age}}</li>
            <li>{{modelData}}</li>
        </ul>
        <div v-html='htmlTemp'></div>
        <div v-show='isShow'>world</div>
        <button v-on:click='handlerShow'>点击显示</button>
        <button @click='handlerRender'>点击渲染</button>
        <input v-model='modelData' type="text">
    </div>
    <script type="module">
        import VueDemo from './vue-demo.js'
        let vm = new VueDemo({
            el:'#app',
            data:{
                title:{
                    name:'hello'
                },
                info:{
                    name:'张三',
                    age:23,
                },
                isShow:false,
                isRender:true,
                modelData:123,
                htmlTemp:'<span style="color:red;">html</span>'
            },
            methods: {
                handlerShow(){
                    // console.log(this.isShow)
                    this.isShow = !this.isShow
                },
                handlerRender(){
                    this.isRender = !this.isRender
                }
            },
        })
    </script>
</body>

</html>