.mcolor() {
  background: #a9936c;
}

.bcolor() {
  background: #f6f6f6;
}

.fontColorOff() {
  color: #9F9F9F;
}
.fontColorOn() {
  color: #a9936c;
}
.titleFont(){
  color: #fdfbef;
}
.w(@px) {
  width: unit(@px / 37.5, rem);
}

.h(@px) {
  height: unit(@px / 37.5, rem);
}


.bg(@bg) {
  background: @arguments;
}

.l_h(@px) {
  line-height: unit(@px / 37.5, rem);
}

.mg(@px) {
  margin: @arguments;
}

.pd(@px) {
  padding: @arguments;
}

.cl(@cl) {
  color: @cl;
}

.dp(@dp) {
  display: @dp;
}

.fw(@fw) {
  font-weight: @fw;
}

.f_s(@px) {
  font-size: unit(@px / 37.5, rem);
}
